*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none !important; 
    text-decoration: none !important;
}
i{
	cursor: pointer;
}
#scrineOne{
    overflow: hidden;
}

/* start load-screen */
.load-screen{
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: #333;
z-index: 9999999999;
color: #fff;
display: none;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgb(250, 250, 250);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
  /* end load-screen */

/* start navbar */
#sliderBar{
  background-color: rgb(142, 35, 16) !important;
  position: fixed;
    top: 0;
    left: 0;
    width: 50px;
	  height: 100%;
    text-align: center;
    z-index: 99999999;
    display: flex ;
    align-self: flex-start;
}
#sliderBar .box{
  background-color: #040303;
  
}
#sliderBar i {
 cursor: pointer;
 padding: 12px;
}
#navMenu li a{
  color: #fff;
}
.textcopy{
  font-size: 12px;
}

.allI2nput .col-md-6{
  margin-bottom: 10px;
}
.formGroup input{
  border: none;
  border-bottom:solid 2px black ;
  border-radius: 1px;
}

.w-60{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}


/* 

/* start api */



.strMealImd , .categoriesImd{
  position: relative;


}
.hh2 ,.categoriesh2{
  background-color: rgba(255,255,255,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  border-radius: 5px;
  transition-duration: 1s;
}
.strMeal:hover .hh2  {
  opacity: 1;
  top: 0%;
}

.categories:hover .categoriesh2{
  opacity: 1;
  top: 0%;
}
.categoriesh2{
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* start Search Page */

.inputSearch{
  padding: 8px;
  border:none ;
  border-bottom: solid rgb(241, 237, 237) 3px;
  border-radius: 1px;
    background-color: #212529;
}


/* end Search Page */




/* start ingredients */
.icon{
  color: #9ee650ab;
}
/* end ingredients */

/* start area */
.areaIcon{
  color: #e65a50ab;
}
/* end area */



.displyCategories{
  display:none ;
}
.dCategories{
	z-index: 999;
	inset: 0;
	background-color: #0D0D0D;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	height: 120vh;
}

.youtube{
  background-color : #F70000;
}

#contact input{
box-shadow: 0 .5rem 1rem rgba(255,255,255,.1)!important
}
.ul li{
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin: 4px 5px;
  padding: 3px;
}
.ul2 li{
  color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 3px;

}
